{%- set external_urls = {
  'github': 'https://github.com/eisen-ai',
  'github_issues': 'https://github.com/eisen-ai',
  'contributing': 'https://github.com/eisen-ai',
  'docs': 'http://docs.eisen.ai/index.html',
  'twitter': '',
  'facebook': '',
  'slack': '',
  'discuss': '',
  'tutorials': 'http://docs.eisen.ai/eisen/tutorials.html',
  'previous_pytorch_versions': '',
  'home': 'http://docs.eisen.ai/',
  'get_started': 'http://docs.eisen.ai/eisen/getstarted.html',
  'features': 'http://docs.eisen.ai/eisen/features.html',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'mobile': 'https://pytorch.org/mobile',
  'hub': 'https://pytorch.org/hub'
}
-%}
