{%- set external_urls = {
  'github': 'https://github.com/eisen-ai',
  'github_issues': 'https://github.com/eisen-ai',
  'contributing': 'https://github.com/eisen-ai',
  'docs': 'http://docs.eisen.ai/index.html',
  'twitter': '',
  'facebook': '',
  'slack': '',
  'discuss': '',
  'tutorials': 'http://docs.eisen.ai/eisen/tutorials.html',
  'previous_pytorch_versions': '',
  'home': 'http://docs.eisen.ai/',
  'get_started': 'http://docs.eisen.ai/eisen/getstarted.html',
  'features': 'http://docs.eisen.ai/eisen/features.html',
  'ecosystem': 'https://eisen-ai.github.io/',
  'blog': 'https://eisen-ai.github.io/',
  'resources': 'https://eisen-ai.github.io/',
  'support': 'https://join.slack.com/t/eisen-ai/shared_invite/enQtOTIwOTg0ODc2MDY3LWE5MGVlNTgxZTBmNjM5NGU2OWRhYzdiMzAzNzRmMGZlZWJlZmEzZDcyNWE4ZTQ5OGM4NDk5N2E5NTEyYzE3NGI',
  'mobile': 'https://eisen-ai.github.io/',
  'hub': 'https://eisen-ai.github.io/'
}
-%}
