{%- set external_urls = {
  'github': 'https://github.com/eisen-ai',
  'github_issues': 'https://github.com/eisen-ai',
  'contributing': 'https://github.com/eisen-ai',
  'docs': 'https://eisen-ai.github.io/docs/index.html',
  'twitter': '',
  'facebook': '',
  'slack': '',
  'discuss': '',
  'tutorials': 'https://eisen-ai.github.io/docs/eisen/tutorials.html',
  'previous_pytorch_versions': '',
  'home': 'http://eisen-ai.github.io/',
  'get_started': 'https://eisen-ai.github.io/docs/eisen/getstarted.html',
  'features': 'https://eisen-ai.github.io/docs/eisen/features.html',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'mobile': 'https://pytorch.org/mobile',
  'hub': 'https://pytorch.org/hub'
}
-%}
